<h4 class="center-align">Добро пожаловать, Администратор!</h4>

<div class="row" style="margin-top: 40px;">
  <div class="col s12 m4">
    <a href="/admin/vacancies" class="waves-effect waves-light btn-large blue darken-1 z-depth-2 block-btn">
      <i class="material-icons left">work</i> Вакансии
    </a>
  </div>

  <div class="col s12 m4">
    <a href="/admin/applications" class="waves-effect waves-light btn-large teal darken-1 z-depth-2 block-btn">
      <i class="material-icons left">people</i> Кандидаты
    </a>
  </div>

  <div class="col s12 m4">
    <a href="/admin/test-assignments" class="waves-effect waves-light btn-large deep-purple darken-1 z-depth-2 block-btn">
      <i class="material-icons left">assignment</i> Тех. задания
    </a>
  </div>
</div>
