<h4>Добро пожаловать, админ!</h4>

<div class="section">
  <a href="/admin/vacancies" class="btn">Управлять вакансиями</a>
  <a href="/admin/applications" class="btn">Кандидаты</a>
  <a href="/admin/test-assignments" class="btn">Технические задания</a>
</div>
