.block-btn {
  width: 100%;
  display: block;
  text-align: center;
  transition: transform 0.2s ease;
}

.block-btn:hover {
  transform: scale(1.05);
}

body {
  font-family: 'Comfortaa', sans-serif;
}

.admin-dashboard .block-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  font-size: 1.2rem;
}

.admin-dashboard .block-btn:hover {
  transform: scale(1.05);
}

.admin-dashboard .material-icons {
  margin-right: 8px;
}
.admin-dashboard {
  margin-top: 200px;
}
